/* ---------MENU--------*/


#h1Menu /* gère le titre du menu */
{
	color: white;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 50px;
}

.listeMenu /* Permet de gérer les cases contenant les liens du menu */
{
	list-style: none;
	border:solid 2px black;
	width: 160px;
	text-align: center;
	background-color: white;
	margin: 0px 5px 30px 0px ;
	padding: 5px;
	box-shadow: 6px 6px 6px black;
	text-decoration-line: none;
	color: black;

}
.listeMenu:hover
{
	box-shadow: 0px 0px 0px;
}

.menu /* Comprend tout le bloc menu */
{
	
	height: 500px;
	margin-top: 150px;
	border: solid 3px black;
	width: 250px;
	background-color: rgba(27,1,155,0.5); ;

}
#ulmenu /* Contien tous les blocs avec les liens (pour flexbox)  */
{
	display: flex;
	flex-direction: column;
}
.Mdeconnexion /* Bouton déconnecter */
{
	border:solid 2px black;
	background-color: white;
	margin-left: 100px;
	padding: 2px;
	box-shadow: 6px 6px 6px black;
	text-decoration-line: none;
	color: black;
}
.Mdeconnexion:hover
{
	box-shadow: 0px 0px 0px;
}

/* -------------------------*/
