#corps
{
    
    display: flex;
    min-height: 100%;
    height: 100%;
    
    
}

table
{
    
    
    
    color: black;
    overflow: auto;
    
    
    
}

td
{
    
    padding: 10px;
}

th
{
    text-decoration: underline;
}

#tableau
{
    
    width:80%;
    margin: 30px;
    overflow: auto;
    height: 70%;
    background-color: white;
}
