#corps
{
    display: flex;
    min-height: 100%;  
    
    
}

#tableauDeGestion
{
    color: black;
    border: 1px solid black;
    width: 81%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
}

.logement
{
    border: 2px black solid;
    margin:1%;
    padding: 1%;
    display: flex;
    
}
a
{
    margin: 1%;
}