/*Ce CSS est temporaire */
#corps
{
	display:flex;
	overflow: auto;
}

	#graphes
	{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

		#lumière
		{
			height: 400px;
			width: 700px;
			border:solid red 4px;
			background-color:white;
		}

		#humidité
		{
			height: 400px;
			width: 700px;
			border:solid red 4px;
			background-color:white;
			margin-top:40px;
			padding-top:10px;
		}

		#température
		{
			height: 400px;
			width: 700px;
			border:solid red 4px;
			background-color:white;
		}
