#corps
{
    min-height: 80%;
    background-color: rgba(255,255,255,0.8)
}

a:visited, a:link
{
	color: black;
	font-size: 1em;
}

.decalTextDroite
{
	margin-left: 40%;
	color: black;
	font-size: 2em;
}


