#CorpTexte /* Contient le carré spécifique de la page (sans le menu) */
{
	background-color: rgba(255, 255, 255, 0.5);
	border:solid black 0.3em;
	border-left: 0em;
	width: 82%;
	height: 33.5em;
	overflow: auto;
	display: flex;
	flex-direction: column;

}

#flex /* Contient les éléments de la page y compris le menu (sauf header et footer) */
{
	display: flex;
}

.groupeq /* contient les encadrés avec les questions */
{
	width: 60%;
	color: black;
	padding: 0.4em;
	border: 0.15em solid black;
    background-color: white;
    margin-top: 10%;
}
.grouper /* contient les encadrés avec les réponses */
{
	width: 60%;
	color: black;
	padding: 0.4em;
	border: 0.15em solid black;
    background-color: white;

    
}

.png /* Contient le bouton supprimer */
{
	width: 3em;
	height: 3em;
	margin: 1em 0em 0em 5em;
	
}
.png2 /* Contient le bouton modifier */
{
	width: 3em;
	height: 3em;
	margin-top: 1em;
	
}

.bouton /* Permet de gérer l'allignement des deux boutons (supprimer et modifier) entre eux */
{
	display: flex;
	flex-direction: column;
}
.qrBouton /* gère la div contenant tout un bloc question+réponse+boutons */
{
	margin: 0% 0% 2% 4%;
	display: flex;
	flex-direction: column;

}

.modif /* gère la taille du texte aréa lors d'une modification */
{
	width: 95%;
	height: 5em;
}
.ajout /* contient le formulaire d'ajout d'une question */
{
	padding: 1em;
	display: flex;
	margin-left: 9%;
	flex-direction: column;


}

.ajoutqr
{
	height: 5em;
}
.bouton_aff_modal
{
	border:solid 0.15em black;
	width: 10%;
	text-align: center;
	background-color: white;
	box-shadow: 0.35em 0.35em 0.35em black;
	color: black;
	height: 5em;
    font-size: 1em;
    margin: 5% 0% -4% 5%;
}
.bouton_aff_modal:hover
{
	box-shadow: none;
}
.envoie
{
	margin-top: 1em;
	width: 20%;
	background-color: white;
	border:solid 0.15em black;
}
.envoie:hover
{
	border:solid 0.15em grey;
}

 /* Toute cette partie correspond à la mise en forme du JavaScript fait par Nathan pour afficher l'ajout d'une question */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 30%; 
    color: black;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
