#corps
{
    min-height: 80%;
}

.lienRetour
{
	color: black;
	font-size: 1em;
}

.decalTextDroite
{
	color: black;
	font-size: 1em;
	text-align: center;
}

.bienvenue
{
	color: black;
	font-size : 1.8em;
	text-align: center;
}

#Box1
{
	border:solid 2px black;
	background-color: rgba(255, 255, 255, 0.95); /* Le fond de la boite est plus opaque que la plupart du temps car le corps n'a pas de background-color */
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}
