/* ---------MENU--------*/


#h1Menu /* gère le titre du menu */
{
	color: white;
	text-align: left;
	padding-left: 10%;
	margin-bottom: 15%;
}

.listeMenu /* Permet de gérer les cases contenant les liens du menu */
{
	list-style: none;
	border:solid 0.15em black;
	width: 78%;
	text-align: center;
	background-color: white;
	margin: 0% 2% 15% 0% ;
	padding: 5px;
	box-shadow: 0.35em 0.35em 0.35em black;
	text-decoration-line: none;
	color: black;
	height: 1em;
    font-size: 0.8em;

}
.listeMenu:hover
{
	box-shadow: 0em 0em 0em;
}

.menu /* Comprend tout le bloc menu */
{
	
	height: 33.5em;
	border: solid 0.3em black;
	width: 18%;
	background-color: rgba(27,1,155,0.5); ;

}
#ulmenu /* Contien tous les blocs avec les liens (pour flexbox)  */
{
	display: flex;
	flex-direction: column;
}
.Mdeconnexion /* Bouton déconnecter */
{
	border:solid 0.15em black;
	background-color: white;
	margin-left: 40%;
	padding: 0.2em;
	box-shadow: 0.35em 0.35em 0.35em black;
	text-decoration-line: none;
	color: black;
    font-size: 0.8em;
}
.Mdeconnexion:hover
{
	box-shadow: 0em 0em 0em;
}

/* -------------------------*/