#corps
{
	display: flex;
	flex-direction: row;
	width: 100%;
    min-height: 100%
	
}

#modification
{
	margin-left:3%;
	margin-top: 3%;
}

.valider
{
	border-radius:5px;
}

#equipement, #admin, #operateur, #presentation,#slogan, #conditions, #modifEquipement, #suppEquipement
{
	background-color:black;
	opacity:0.9;
	border-radius:10px;
	padding: 2%;
	width:100%;
	text-align:center;
}


#onglet
{
    width: 20%;
    margin-top: 20px;
}
span
{
    background-color:black;
    opacity:0.9;
    border-radius:10px;
    height:20%;
    width:90%;
    text-align:center;
    padding: 2%;
    margin: 2%; 
}

span:hover
{
	opacity: 1;
}

h1
{
	font-size:22px;
}

